<div id="action" class="call-to-action">
  <div class="container">
    <div class="row">
      <h1 class="text-center" style="padding-bottom:.5em;">Contact</h1>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <i class="fa fa-globe fa-2x pull-right" aria-hidden="true"></i>
      </div>
      <div class="col-sm-7">
        <p>{{ .Site.Params.Address }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <i class="fa fa-envelope fa-2x pull-right" aria-hidden="true"></i>
      </div>
      <div class="col-sm-7">
        <a href="mailto:{{ .Site.Params.Email }}?Subject=Hello%20from%20a%20visitor">{{ .Site.Params.Email }}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <i class="fa fa-phone fa-2x pull-right" aria-hidden="true"></i>
      </div>
      <div class="col-sm-7">
        <p>{{ .Site.Params.phoneNumber }}</p>
      </div>
    </div>
  </div>
</div>